/** Fonts Imports **/
@font-face {
  font-family: "Outfit";
  font-display: swap;
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Young-Serif";
  font-display: swap;
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

:root {
  --minWidth: 17rem;
  --maxWidth-mobile: 23.5rem;
  --maxWidth-desktop: 51rem;

  --ff-base: "Outfit", sans-serif;
  --ff-accent: "Young-Serif", sans-serif;

  --font-header: 2.17rem;
  --font-subHeader: 1.75rem;
  --font-subSubHeader: 1.05rem;
  --font-text: 1rem;

  @media (min-width: 23.5rem) {
    --font-header: 2.4rem;
    --font-subSubHeader: 1.05rem;
  }

  --fontWeight-dark: 600;

  --clr-header: hsl(24, 5%, 18%);
  --clr-subHeader: hsl(14, 45%, 36%);
  --clr-subSubheader: hsl(332, 51%, 32%);
  --clr-text: hsl(30, 10%, 34%);
  --clr-secondaryText: hsl(332, 51%, 32%);
  --clr-lineBreak: hsl(30, 54%, 90%);

  --clr-marker: hsl(14, 45%, 36%);

  --clr-background-primary: hsl(30, 54%, 90%);
  --clr-background-secondary: hsl(0, 0%, 100%);
  --clr-background-card: hsl(330, 100%, 98%);
}
