/**
  We decided to setup the variable file for you for the Milestone 2 section. You will, however, be expected to do this on your own
  in the Certification Project, and in Milestone 3 (receiving a style-guide.md and translate this to variables.css) 
  Note: you can reference these variables with var(<variable name>) in the particular
  CSS file you import this into (typically style.css). For example, var(--clr-rose50) is using hsl(330, 100%, 98%)
**/

/** Fonts Imports **/
@font-face {
  font-family: 'Outfit';
  font-display: swap;
  src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Young-Serif';
  font-display: swap;
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

/*
  CSS Variables
*/
:root {
  /* Layout */
  --width-mobile: 375px;
  --width-desktop: 1440;

  /* Colours */
  --clr-stone100: hsl(30, 54%, 90%);
  --clr-stone150: hsl(30, 18%, 87%);
  --clr-stone600: hsl(30, 10%, 34%);
  --clr-stone900: hsl(24, 5%, 18%);
  --clr-brown800: hsl(14, 45%, 36%);
  --clr-rose50: hsl(330, 100%, 98%);
  --clr-rose800: hsl(332, 51%, 32%);

  /* Typography */
  --font-paragraph: 16px;
  --font-header: 32px;
  --font-sub-header: 24px;
  --fw-regular: 400;
  --fw-bold: 600;
  --fw-black: 700;

  /* Fonts */
  --fs-base: 'Outfit';
  --fs-accent: 'Young-Serif';
}